{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content%}

<h3 class="text-center text-primary mt-5">HOME PAGE</h3>

<div class="d-flex mt-5 justify-content-center g-3">
    {% for post in posts %}
<div class="card border-success text-center mb-3 ms-3 me-3" style="width: 18rem;">
    <div class="card-body">
      <a class="card-title text-primary " href="{% url 'readpost-page' pk=post.id  %}" >{{ post.title }}</a> <br>
      <span class=""> Author : {{ post.author.username }}</span>
      <hr class="border-dark border-3">
      <h5 class="card-text text-success pb-3">{{ post.description|slice:":100" }}</h5>
      <p>{{post.postedon}}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  {% empty %}

  <div>
    <p class="text-danger text-center">There are no pots to display</p>
  </div>

  {% endfor %}
  </div>

{% endblock content %}
